{% extends 'layout/base.html' %}


{% block stylesheets %}
  <link rel="stylesheet" href="/css/editor.css">
  <link rel="stylesheet" href="/css/markdown.css">
{% endblock stylesheets %}


{% block content %}

  <div class="editor" data-filename="{{file.name}}">
    <div class="editor__control-bar">
      <h3>{{file.name}}.md</h3>
    </div>
    <div class="editor__content">
      <textarea class="editor__content-input"></textarea>
      <div class="editor__content-preview">
        <span class="editor__content-preview-badge">Preview</span>
        <div class="editor__content-preview-content md"></div>
      </div>
    </div>
  </div>

{% endblock content %}


{% block scripts %}
  <script src="/js/editor.js"></script>
{% endblock scripts %}