
* {
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a,
input,
textarea,
button {
  font: inherit;
}

a {
  color: rgb(58, 128, 131);
}
a:visited {
  color:rgb(58, 128, 131);
}
#app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.input {
  width: 300px;
  padding: 8px;
}
.input__label {
  display: inline-block;
  margin-bottom: 4px;
}
.input__input {
  width: 100%;
  padding: 4px;
}